<div class="card-deck-wrapper">
    <div class="card-columns">
        <% @formulas.each do |formula| %>
            <blockquote class="card-blockquote">
                <div class="card text-xs-center">
                    <div class="card-header text-xs-left">
                                <h3><%= link_to formula.title, formula_path(formula) %></h3>
                                <footer>
                                    <small class="text-muted">Created at <%= formula.created_at.to_s %></small>
                                </footer>
                    </div>
                    <div class="card-block">
                    <h3 class="card-text card-formula">$<%= formula.expression %>$</h3>
                    </div>
                    
                </div>
            </blockquote>
        <% end %>
    </div>
</div>