<div class="card-deck-wrapper">
    <div class="card-columns">
        <% @formulas.each do |formula| %>
            <blockquote class="card-blockquote">
                <div class="card">
                    <div class="card-header">
                        <h3><%= link_to formula.title, formula_path(formula) %></h3>
                        <small class="text-muted">Created at <%= formula.created_at.to_s %></small>
                    </div>
                    <div class="card-block">
                        <div class="card-formula">
                            <h3>$<%= formula.expression %>$</h3>
                        </div>
                    </div>
                </div>
            </blockquote>
        <% end %>
    </div>
</div>